.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.highlightsContainer {
  width: 100vw;
  background: linear-gradient(
    to right,
    transparent,
    var(--sugar-color-blue-2)
  )
  var(--sugar-color-blue-1);
  margin-top: 3rem;
  border-radius: 4rem;
}

.imageStyle {
  height: 10rem;
  border-radius: 50%;
  rotate: -8deg;
}